@model List<SistemaCitasRemotas.Models.Medico>
@{
    ViewBag.Title = "Index";
}

<h2 class="card-header">

    <a href="~/Medico/AgregarEditar/" class="btn btn-info float-right">Nuevo Medico</a>
</h2>

@using (Html.BeginForm("Index", "Medico", FormMethod.Post, new { usuario = "frm-medico" }))
{
    <div class="text-left">
        @Html.Label("Buscar:")
        @Html.TextBox("criterio")
        <button type="submit" class="btn btn-secondary">Buscar</button>
    </div>}


<br />
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>APELLIDO Y NOMBRES</th>
            <th>TELEFONO</th>
            <th>ESTADO</th>
            <th>ACCION</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@(m.id)</td>
                <td>@(m.nombres),@(m.apellidos)</td>
                <td>@(m.telefono)</td>
                <td>@(m.estado.Equals("activo")?"ACTIVO" : "INACTIVO" )</td>
                <td style="align-content:center">
                    <a href="~/Medico/Visualizar/@m.id" class="btn btn-warning">Detalle</a>
                    <a href="~/Medico/AgregarEditar/@m.id" class="btn btn-primary">Modificar</a>
                    <a href="~/Medico/Eliminar/@m.id" class="btn btn-danger" onclick="return confirm('¿Esta seguro de eliminar el registro?')">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>