@model List<SistemaCitasRemotas.Models.Horario>
@{
    ViewBag.Title = "Index";
}

<h2 class="card-header">

    <a href="~/Horario/AgregarEditar/" class="btn btn-info float-right">Nuevo Horario</a>
</h2>

@using (Html.BeginForm("Index", "Horario", FormMethod.Post, new { usuario = "frm-usuario" }))
{
    <div class="text-left">
        @Html.Label("Buscar:")
        @Html.TextBox("criterio")
        <button type="submit" class="btn btn-secondary">Buscar</button>
    </div>}


<br />
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>INICIO</th>
            <th>FINAL</th>
            <th>ESTADO</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
        <tr>
            <td>@(m.id)</td>
            <td>@(m.inicio)</td>
            <td>@(m.final)</td>
            <td>@(m.estado.Equals("activo")?"ACTIVO" : "INACTIVO" )</td>

            <td style="align-content:center">

                <a href="~/Horario/AgregarEditar/@m.id" class="btn btn-primary">Modificar</a>
                <a href="~/Horario/Eliminar/@m.id" class="btn btn-danger" onclick="return confirm('¿Esta seguro de eliminar el registro?')">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>