@model SistemaCitasRemotas.Models.Dia
@{ ViewBag.Title = "AgregarEditar";
    //List<SistemaCitasRemotas.Models.TipoUsuario> TipoUsuario = ViewBag.TipoUsuario;
}

<h2>Registro</h2>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Dia/Index">Dia</a></li>
        <li class="breadcrumb-item active">@Model.id</li>
    </ol>
</nav>
<br />
<br />

@using (Html.BeginForm("Guardar", "Dia", FormMethod.Post))
{


    <div class="card">
        <div class="card-header">Llene el formulario</div>
        <div class="card-body">

            <div class="form-group">
                @Html.LabelFor(x => x.id)
                @Html.TextBoxFor(x => x.id, new { @class = "form-control", disabled = true })
            </div>
           

            <div class="form-group">
                @Html.LabelFor(x => x.dia1)
                <select name="dia1" class="form-control">
                    <option value="">Seleccion</option>
                    <option value="Lunes">Lunes</option>
                    <option value="Martes">Martes</option>
                    <option value="Miercoles">Miercoles</option>
                    <option value="Jueves">Jueves</option>
                    <option value="Viernes">Viernes</option>
                    <option value="Sabado">Sabado</option>
                    <option value="Domingo">Domingo</option>
                </select>
                @Html.ValidationMessageFor(x => x.dia1, null, new { @class = "text-danger" })

            </div>


            <div class="text-right">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="~/Dia" class="btn btn-danger">Cancelar</a>
            </div>

        </div>


    </div>}